<div class="col-sm-12  my-4">
  <p class="truck">Truck Colloection</p>
  <div class="card  shadow bg-white " style="width: 18rem;">
    <img
      src="https://thumbs.dreamstime.com/b/big-truck-freightliner-cascadia-blue-cab-isolated-white-background-164944451.jpg"
      style="height: 160px;" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mt-2 shadow bg-white" style="width: 18rem;">
    <img
      src="https://lh3.googleusercontent.com/proxy/hC8j4XyuhAMZvvnn1Qj3ipsbVct3GGQZG-0MplVgEvMQKvAHOic8-3ej2Glk4GjrfDIadL6PNBU7innIMYkLgE8yW0utQuGJiLhi7SN1VwDLYctC470VTEqstLE8pz6KoG4ukpiMqDNhWw"
      style="height: 180px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-block  btn-outline-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mt-2 shadow bg-white" style="width: 18rem;">
    <img
      src="https://images.financialexpress.com/2020/07/eicher-Pro-6048H-eutech6-connected-truck.jpg?w=660&h=440&imflag=true"
      style="height: 215px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn  btn-block btn-outline-primary">Go somewhere</a>
    </div>
  </div>
</div>